<div class="map-container">
    <div class="map-frame">
        <div id="service"></div>
    </div>
</div>

<div class="add-nest-button">Add Service Area</div>

<mat-card>

    <h2> Welcome!  </h2>
    <h3> To begin, click a Service Area on the map and select it.</h3>

    <h3> If no areas have been created, create one:</h3>

    <h3> To Create a Service area: </h3>
    <ol>
        <li> Click the button above to create a service area</li>
        <li> Double click on the area desired. A bounded area 
             will appear. </li>
        <li> Drag mouse in the bounded area to delimit desired 
             area boundaries. </li>
        <li> Click to set area. </li>
    </ol>

</mat-card>