.button-end{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-left: 100px;
}

button{
    margin-left: 20px;
    margin-top: 15px;
}

.button-report{
    margin-left: 150px;
}