<!--Dialog displayed when user clicks on a nest-->

<form>
<h2>Nest Name: {{data.name}}</h2>
<mat-form-field appearance="fill">
    <mat-label>edit nest name</mat-label>
    <input  #name matInput placeholder="Nest name"/>
    <mat-hint>Edit Nest Name</mat-hint>
</mat-form-field>

<h2>Vehicle Qty: {{data.vehicles}}</h2>
<mat-form-field appearance="fill">
    <mat-label>edit vehicle qty</mat-label>
    <input #qty matInput type="number" min="0" max="100" placeholder="vehicle qty" 
        onkeydown="return !isNaN(Number(event.key))"/>
    <mat-hint>Edit Nest Name</mat-hint>
</mat-form-field>
</form>

<button (click)="updateNest(qty.value, name.value)" mat-raised-button color="primary">Update</button>
<button (click)="deleteNestConfig()" mat-raised-button color="primary">Delete Config</button>
<button (click)="cancelNest()" mat-raised-button color="secondary">Cancel</button>
<button class="delete-btn" (click)="deleteNest()" mat-raised-button color="warn">Delete Nest</button>