<mat-sidenav-container>
        <mat-sidenav mode="side" [(opened)]="toolOpened">
            <div class="toolbar">
                <p class="toolbarTitle">Nestmatics</p>
                <button (click)="changeComponent('service')" mat-stroked-button><mat-icon class="toolbarButtons">map</mat-icon><p>Area</p></button>
                <button (click)="changeComponent('map')" mat-stroked-button><mat-icon class="toolbarButtons">home</mat-icon><p>Home</p></button>
                <button (click)="changeComponent('playback')" mat-stroked-button><mat-icon class="toolbarButtons">play_circle_outline</mat-icon><p>Play</p></button>
                <button (click)="changeComponent('prediction')" mat-stroked-button><mat-icon class="toolbarButtons">blur_on</mat-icon><p>Predictions</p></button>
                <button (click)="changeComponent('experiment')" mat-stroked-button><mat-icon class="toolbarButtons">create</mat-icon><p>Experiment</p></button>
                <button mat-stroked-button><mat-icon class="toolbarButtons">file_upload</mat-icon><p>Upload</p></button>
                <!-- <angular-file-uploader #fileUpload1
                      [config]="afuConfig"
                      [resetUpload]=resetVar
                      (ApiResponse)="DocUpload($event)">
                </angular-file-uploader> -->
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <button class="toolToggle" (click) = "toolOpened=!toolOpened">
              <mat-icon>notes</mat-icon>
            </button>
            <app-calendar></app-calendar>
            <div><ng-container *ngComponentOutlet="currentComponent"></ng-container></div>
        </mat-sidenav-content>
      </mat-sidenav-container>