
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="toolOpened">
        <div class="toolbar">
            <p class="toolbarTitle">Nestmatics</p>
            <button routerLink="/home" mat-stroked-button><mat-icon class="toolbarButtons">play_circle_outline</mat-icon></button>
            <button routerLink="/prediction" mat-stroked-button><mat-icon class="toolbarButtons">blur_on</mat-icon></button>
            <button routerLink="/experiment" mat-stroked-button><mat-icon class="toolbarButtons">create</mat-icon></button>
            <button mat-stroked-button><mat-icon class="toolbarButtons">file_upload</mat-icon></button>
            <!-- <angular-file-uploader #fileUpload1
                  [config]="afuConfig"
                  [resetUpload]=resetVar
                  (ApiResponse)="DocUpload($event)">
            </angular-file-uploader> -->
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="toolToggle" (click) = "toolOpened=!toolOpened">
          <mat-icon>notes</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  