<h1 mat-dialog-title>Settings</h1>

<div>

    

    <div style="height: 200px;">
        <div style="float: left; margin-right: 20px">
            <h2>Prediction training</h2>
        <p><mat-icon style="color:green" *ngIf="newDataCheck">check</mat-icon><mat-icon style="color:red" *ngIf="!newDataCheck">clear</mat-icon>New data needed: {{newDataReq}}</p>
        <p><mat-icon style="color:green" *ngIf="accuracyCheck">check</mat-icon><mat-icon style="color:red" *ngIf="!accuracyCheck">clear</mat-icon>Accuracy: {{accuracyReq}}</p>
        
            <button style="margin-bottom: 30px" (click)="trainModel(0,-1)" mat-raised-button color="accent">Re-train model</button>
        </div>
        
        <div style="float: left; margin-left:20px;">
            <h2>Schedule training</h2>

            <mat-form-field style="margin-right: 20px;" appearance="fill">
                <mat-label>Day</mat-label>
              <mat-select #day>
                <mat-option *ngFor="let day of week" [value]="day.ID">
                  {{day.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
              <mat-select #time>
                <mat-option *ngFor="let time of hours" [value]="time.ID">
                  {{time.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>
            <button style="margin-bottom: 30px" (click)="trainModel(day.value,time.value)" mat-raised-button color="accent">Schedule training</button>
    
        </div>
    </div>
    
    

    <mat-divider style="margin-bottom: 30px;"></mat-divider>

    <div>
        <div style="float:left; margin-right: 20px">
            <h2> Add users</h2>
            <mat-form-field appearance="fill">
                <input type="email" [(ngModel)]="usrEmail" matInput placeholder="User email">
            </mat-form-field>
        
            <br>
        
            <mat-form-field appearance="fill">
                <mat-label>User Type</mat-label>
                <mat-select #lstType>
                    <mat-option *ngFor="let lstType of typeList" [value]="lstType">
                        {{lstType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <br>
            <button (click)="addUser(lstType.value)" mat-raised-button color="accent">Add user</button>
        </div>

        
        <div style="height: 100px; margin-left:20px;">
            <h2>Approved users</h2>
            <div  class="user-list" style="max-height: 100px;">
                <mat-selection-list #user [multiple]="false">
                    <mat-list-option *ngFor="let user of usersList" [value]="user">
                        {{user}}
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <button style="margin-top: 40px" (click)="deleteUser(user)" mat-raised-button color="primary">Delete user</button>

        </div>
    </div>
</div>

  