.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
  
.map-frame {
  height: 100%;
}

#experiment {
  height: 100%;
}

.experiment-list {
  width: 200px;
  max-height: 50px;
  overflow: auto;
}

mat-card {
  margin: 0px;
  max-width: 230px;
}

