<!-- Display vehicle movement on map -->

<div class="map-container">
    <div class="map-frame">
      <div id="playback">
      </div>
    </div>
</div>
<mat-card style="width: 435px;">
  <div>
    Playback Controls
    <button [disabled]="disableControls" (click)="playbackPlay()" mat-raised-button><mat-icon class="toolbarButtons">play_arrow</mat-icon></button>
    <button [disabled]="disableControls" (click)="playbackPause()"mat-raised-button><mat-icon class="toolbarButtons">pause</mat-icon></button> 
    <button [disabled]="disableControls" (click)="playbackReplay()"mat-raised-button><mat-icon class="toolbarButtons">replay</mat-icon></button>
    <button [disabled]="disableControls" color="accent" (click)="playAll()"mat-raised-button>Play All</button>

  </div>
   
  
  <div style="float:right; margin-right:15px; margin-top:5px">
    Speed Controls
    <button [disabled]="disableControls" (click)="slowSpeed()"mat-mini-fab><mat-icon class="toolbarButtons">fast_rewind</mat-icon></button>
    <button [disabled]="disableControls" (click)="quickSpeed()"mat-mini-fab><mat-icon class="toolbarButtons">fast_forward</mat-icon></button> 
  </div>

  <div style="margin-top: 13px">
    <mat-checkbox
    [disabled]="disableControls"
    (change)="showLines($event)"
    [checked]="true"
    aria-label="First checkbox">
      Show Lines
    </mat-checkbox>
    <br>
    <mat-checkbox
    [disabled]="disableControls"
    (change)="showBehaviour($event)"
    [checked]="false"
    aria-label="First checkbox">
      Behaviour Heatmap
    </mat-checkbox>

    <h1>Clock: {{currentTime}}</h1>

    <mat-progress-bar  mode="determinate" [value]="progress"></mat-progress-bar>
    <div>
      Time Selection: 
      <mat-slider #daySlider
      thumbLabel
      [displayWith]="formatLabel"
      (change)="updateTime(daySlider.value)"
      tickInterval="2"
      [min]="minUnix"
      [max]="maxUnix"
      [disabled]="disableControls">
    </mat-slider>

    </div>
     
  </div>
  
  

</mat-card>

<mat-spinner *ngIf="InProcess"></mat-spinner>