<!-- View component to view and edit nest configurations-->

<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>

<mat-card class="drop-card">
  <mat-card-header>
    <mat-card-title> Drop Strategies: </mat-card-title>
    <h3>Current Date: {{currentDate}}</h3>
  </mat-card-header>

  <form>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle quantity</mat-label>
        <input #qty matInput type="number" min="0" max="120" placeholder="Total Vehicles" 
        onkeydown="return !isNaN(Number(event.key))"/>
        <mat-hint>Input total number of vehicles</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="setVehicles(qty.value)">Add Total Vehicles
      </button>
  </form>

  <div class="vehicle-labels">
  <mat-label>Total vehicles for the day: {{vehicle_qty}}</mat-label>
  <mat-label>Assigned Vehicles: {{assigned_vehicles}}</mat-label>
  </div>

  <h3>Nest List</h3>
  <mat-card-content class="nest-list">
    <mat-list class="custom-scroll">
      <mat-list-item *ngFor="let nest of nestList" class="item">
        <mat-list-item-content class="item-content">
          <span>Nest Name: {{nest.nest_name}}</span>
          <span>Assigned Vehicles: {{nest.vehicle_qty}}</span>
        </mat-list-item-content>
      </mat-list-item>
    </mat-list>
</mat-card-content>
</mat-card>

<div class="end-button">
<button [disabled]="!newDay" mat-raised-button color="primary" type="button" (click)="insertNestConfigs()">Save Drop strategy
</button>
<button  [disabled]="newDay" mat-raised-button color="accent" type="button" (click)="editConfigurations()">Edit Drop strategy
</button>
</div>

